html {
  padding-top: 70px;
}
#downloadlinks.affix {
  top: 70px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-indicators {
  bottom: 0;
}
