@charset "UTF-8";
/* CSS Document */
/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!Custom CSS */
/*
body:before {
  content:"";
  position:fixed;
  height:100%;
  width: 100%;
  background-image: url(/images/itunes_image.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
*/
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  overflow: hidden;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}
.menu {
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  width: 33.333%;
  float: left;
  position: fixed;
  top: 0;
  bottom: 80px;
  color: #fff;
  transition: all .5s;
}
.menu .logo {
  background-color: #5f0512;
}
.menu section {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  overflow: auto;
}
.menu h1 {
  font-size: 1.8em;
  margin-top: 30px;
  margin-left: 30px;
  letter-spacing: -1px;
}
.menu h2 {
  margin-left: 30px;
}
.menu img {
  max-width: 100%;
}
.menu .rss:hover {
  background-color: #FF6600;
}
.menu ul {
  margin-top: 30px;
  margin-left: 20px;
}
.menu ul li a {
  padding: 6px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.menu .ext-bar .social {
  display: inline-block;
  width: 9%;
  padding: 0;
  text-align: center;
  color: #fff;
}
.menu .ext-bar .itunes,
.menu .ext-bar .stitcher {
  width: 35%;
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 9px 0;
  transition: all .5s;
}
.menu .ext-bar .stitcher {
  background-color: #EE5131;
}
.menu .ext-bar .stitcher:hover {
  background-color: #ab290e;
}
.menu .ext-bar .itunes {
  background-color: #4385D0;
}
.menu .ext-bar .itunes:hover {
  background-color: #23538a;
}
@media (max-width: 600px) {
  .menu {
    width: 100%;
    left: -100%;
  }
  .menu ul:after {
    content: " ";
    float: none;
    clear: both;
    display: block;
    margin-bottom: 50px;
  }
  .menu ul li {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 15px;
  }
  .menu ul li:nth-child(odd) {
    clear: left;
  }
  .menu ul li i {
    display: block;
    text-align: center;
    font-size: 4em;
    padding-bottom: 8px;
  }
}
.episodes,
.ep_info {
  width: 33.333%;
  position: fixed;
  top: 0;
  bottom: 80px;
  transition: all .5s;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}
.episodes h2,
.ep_info h2 {
  background-color: #989898;
  color: #fff;
  font-size: 1.5em;
  padding: 12px;
  text-align: center;
}
.episodes h2 i,
.ep_info h2 i {
  left: 20px;
  position: absolute;
}
.episodes h2 i span,
.ep_info h2 i span {
  position: relative;
  top: -2px;
  font-size: .7em;
}
@media (min-width: 600px) {
  .episodes h2 i,
  .ep_info h2 i {
    display: none;
  }
}
.episodes h2 i:active,
.ep_info h2 i:active {
  color: #5f0512;
}
@media (max-width: 600px) {
  .episodes,
  .ep_info {
    width: 100%;
  }
}
.episodes {
  z-index: 1;
  background-color: #f0f0f0;
  left: 33.333%;
}
.episodes ul {
  position: absolute;
  top: 48px;
  bottom: 0;
  overflow: scroll;
  left: 0;
  right: 0;
  display: table;
  border-spacing: 0 10px;
  margin: 0 10px;
}
.episodes ul li {
  clear: left;
  display: table-row;
  transition: all .5s;
  cursor: pointer;
}
.episodes ul li.active {
  background-color: #ffffff;
}
.episodes ul li p {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  padding: 0 20px;
  font-size: 1.25em;
  letter-spacing: -1px;
}
.episodes ul li img {
  width: 100%;
  height: auto;
  display: table-cell;
  padding: 10px;
}
@media (max-width: 600px) {
  .episodes {
    width: 100%;
    left: 0;
  }
}
.ep_info {
  left: 66.666%;
  z-index: 2;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
.ep_info article {
  position: absolute;
  overflow: auto;
  bottom: 0;
  left: 0;
  top: 48px;
}
.ep_info article section {
  background-color: #f0f0f0;
  width: 100%;
  position: relative;
}
.ep_info article #ep_bg {
  overflow: hidden;
  height: 130px;
  position: relative;
  width: 100%;
  margin: -1px;
}
.ep_info article #ep_bg img {
  height: auto;
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
  transform: scale(1.5);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: url(../img/blur.svg#blur);
  position: absolute;
}
.ep_info article h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-shadow: 1px 1px 10px black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 120px;
}
.ep_info article h1 span {
  bottom: 20px;
  position: absolute;
  display: block;
  color: #fff;
}
.ep_info article #ep_desc {
  line-height: 1.3em;
  position: relative;
  padding: 20px;
  z-index: 5;
}
.ep_info article #ep_desc br {
  line-height: 2em;
}
.ep_info article .linkbar {
  text-align: center;
  margin-top: 30px;
  position: relative;
  padding-bottom: 30px;
}
.ep_info article .linkbar a {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 8px;
  width: 42%;
  color: #fff;
  text-decoration: none;
}
.ep_info article .linkbar a i {
  display: block;
  font-size: 2.5em;
}
.ep_info article .linkbar a:first-child {
  border-radius: 6px 0px 0px 6px;
}
.ep_info article .linkbar a:last-child {
  border-radius: 0px 6px 6px 0px;
}
@media (max-width: 600px) {
  .ep_info {
    left: 100%;
  }
}
/* The player at the bottom */
#jp_container {
  position: fixed;
  bottom: 0;
  background-color: #d7d7d7;
  width: 100%;
  height: 80px;
  color: #000;
}
p.timer {
  position: absolute;
  left: 85px;
  right: 0;
  top: 8px;
}
p.timer .track-name {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timedur {
  position: fixed;
  left: 85px;
  bottom: 10px;
}
.music-controls {
  position: absolute;
  width: 80px;
  display: table;
}
.music-controls li a {
  color: #000;
  height: 80px;
  width: 80px;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.jp-progress {
  height: 20px;
  position: absolute;
  left: 80px;
  right: 30px;
  top: 30px;
}
#radiobanner {
  background-color: #57a948;
  position: fixed;
  color: #32612a;
  z-index: 1000;
  right: 0;
  left: 33.333%;
  display: none;
  cursor: pointer;
  border-bottom: solid 1px #32612a;
}
#radiobanner p {
  padding: 1.6em;
  font-size: 1.3em;
}
#radiobanner i {
  position: absolute;
  right: 20px;
  top: 40px;
  font-size: 2em;
}
@media (max-width: 600px) {
  #radiobanner {
    left: 0;
  }
}
