error_log

media/*

config.php

components/getid3/*

components/player/*

components/tinymce/*

core/admin/custom-ck.js

feed.xml

feed.json

images/*

themes/appview/imgszr/imagecache/*

setup/error_log
setup/*